<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'Crear Producto' }) %>
    <head>
        <link rel="stylesheet" href="css/forms.css">
        <link rel="stylesheet" href="/css/create-form.css">
    </head>
<body>
    <%- include('./partials/header') %>

    <main>
        <form action="/:id?_method=PUT" method="POST">
            <label for="id">ID: </label>
            <input placeholder="" name="id" type="number" value=<%- producto.id %>> <br/>
            <label for="name">Modelo: </label>
            <input placeholder="" name="name" type="text" value=<%- producto.name %> ><br/>
            <label for="brand">Marca: </label>
            <input placeholder="" name="brand" type="text" value=<%- producto.brand %> ><br/>
            <label for="year">Año: </label>
            <input placeholder="" name="year" type="number" value=<%- producto.year %> ><br/>
            <label for="body_type">Tipo de cuerpo: </label>
            <input placeholder="" name="body_type" type="text" value=<%- producto.body_type %> ><br/>
            <label for="neck_type">Tipo de mastil: </label>
            <input placeholder="" name="neck_type" type="text" value=<%- producto.neck_type %> ><br/>
            <label for="pickup_configuration">pastillas: </label>
            <input placeholder="" name="pickup_configuration" type="text" value=<%- producto.pickup_configuration %> ><br/>
            <label for="scale_length">Tamaño</label>
            <input placeholder="" name="scale_length" type="text" value=<%- producto.scale_length %> ><br/>
            <label for="fretboard_material">material del diapasón: </label>
            <input placeholder="" name="fretboard_material" type="text" value=<%- producto.fretboard_material %> ><br/>
            <label for="number_of_frets">Numero de trastes: </label>
            <input placeholder="" name="number_of_frets" type="text" value=<%- producto.number_of_frets %> ><br/>
            <label for="price">Precio:</label>
            <input placeholder="" name="price" type="number" value=<%- producto.price %> ><br/>
            <label for="discount">Descuento: </label>
            <input placeholder="" name="discount" type="number" value=<%- producto.discount %> ><br/>
            <label for="color">Color: </label>
            <input placeholder="" name="color" type="text" value=<%- producto.color %> ><br/>
            <label for="img">foto: </label>
            <input placeholder=""  name="img" type="file"><br/>

            <input type="submit" value="ENVIAR">
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>