<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'productos' }) %>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="search_bar">
            <label for="search_input"> Buscar </label>
            <input class="search_input" id="search_input" type="text" placeholder="...">
        </div>
        <div class="categories">
            <button>guitarras</button>
            <button>amplif.</button>
            <button>pedales</button>
            <button>accesorios</button>
        </div>
        <div class="products">
            <% catalogo.forEach(product => { %>
                <article class="producto">
                    <img src="/images/lespaul.jpg" alt="">
                    <div class="detalle" >
                        <h3 class="nombre-producto"><%= product.name %></h3>
                        <h3 class="marca"><%= product.brand %></h3>
                        <h3 class="precio"><%= product.price %></h3>
                        <h3 class="descuento"><%= product.discount %></h3>
                    </div>
                </article>
            <% }) %>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>