<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title: 'productos' }) %>
    <head>
        <link rel="stylesheet" href="css/products.css">
    </head>
<body>
    <%- include('./partials/header') %>

    <main>
        <div class="search_bar">
            <label for="search_input"> Buscar </label>
            <input class="search_input" id="search_input" type="text" placeholder="...">
        </div>
        <div class="categories">
            <button>guitarras</button>
            <button>amplif.</button>
            <button>pedales</button>
            <button>accesorios</button>
        </div>
        <div class="products">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>img</th>
                        <th>modelo - marca</th>
                        <th>categoria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% catalogo.forEach(product => { %>
                        <tr>
                            <td><%- product.id %></td>
                            <td>img</td>
                            <td><%- product.brand+" - "+product.name %></td>
                            <td>categoria</td>
                            <td class="btn-col">
                                <button class="edit-btn"><a href=<%- "/products/"+product.id+"/edit" %>>EDITAR</a></button>

                                <form  method="post" action=<%- "/products/"+product.id+"?_method=DELETE" %> > 
                                    <input class="delete-btn" type="submit" value="BORRAR">
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

    </main>

    <%- include('./partials/footer') %>
</body>
</html>