<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Productos' }) %>
    <body>
        <%- include('../partials/header') %>
    
        <main>
            <section class="element">
                <div class="producto">
                    <img class="image" src="../images/lespaul.jpg" alt="">
                    <div class="prod-head">
                        <div class="nombre-prod"><%= producto.name %></div>
                        <div class="nombre-prod"><%= producto.brand %></div>
                        <div class="nombre-prod"><%= producto.year %></div>
                        <div class="medios-pago">Medios de pago</div>
                        <div class="precio">$ <%= producto.price %></div>
                        <div class="precio">$ <%= producto.discount %></div>
                        <div>
                            <input type="text">
                        </div>
                        
                        <button>Agregar al Carrito</button>
                    </div>
                </div>
                <div class="description">
                    <p>
                        <%= producto.body_type %>
                        <%= producto.neck_type %>
                        <%= producto.pickup_configuration %>
                        <%= producto.scale_length %>
                        <%= producto.fretboard_material %>
                        <%= producto.number_of_frets %>
                        <%= producto.color %>
                    </p>
                </div>
            </section>
            <section>

            </section>
        </main>
    
        <%- include('../partials/footer') %>
    </body>
</html>